<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proj.abigo.coco.cocoapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    /* 블루투스 권한*/
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.kakao.sdk.ClientSecret"
            android:value="kakao client secret value" />

        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BluetoothActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Bluetooth.DeviceListActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity android:name=".FriendAddActivity">

            <!-- custom scheme(execute url) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setGoalActivitiy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MySaving.mySavingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myFightActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".myFriendActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>